# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-ambbeec7a63e633e9e0cfe1b4f5bb47230560b3b8d0xjhu4
OPENAI_BASE_URL=https://api.gptsapi.net/v1

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=7913k6rISsa0elS3HgD0GcRNuGB5MY5IzOFF6fpBiwU=

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_LziDEngzrSdfUAwI_dp41wFmrocYaayeJl0zbZqvwvSjORY

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgres://postgres:postgres@localhost:5432/postgres


# MinIO
MINIO_ACCESS_KEY=7913k6rISsa0elS3H
MINIO_SECRET_KEY=a0elS3H79@$.&?
MINIO_ENDPOINT=http://localhost:9000
MINIO_ADMIN_PORT=19087
MINIO_USE_SSL=false
